<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>main</title>
    <meta name="description" content="描述"/>
    <meta name="keywords" content="关键词"/>
    <meta name="copyright" content="苏州蜗牛数字科技股份有限公司"/>
    <meta name="author" content="senro"/>
    <link rel="stylesheet" type="text/css" href="http://static.woniu.com/stylesheets/base.css"/>
    <link rel="stylesheet" type="text/css" href="/9yin/1.0.0/static/pkg/main_components.css"/>
    <link rel="stylesheet" type="text/css" href="/9yin/1.0.0/static/main/index.css"/>
</head>

<body>
     <!--component('menu2@0.0.1')-->
<div class="bg">
    <div class="container">
        <div class="header">
            <div class="menu">
    <a class="btn btn1" href="#"></a>
    <a class="btn btn2" href="#"></a>
    <a class="btn btn3" href="#"></a>
</div>

        </div>
        <div class="main"></div>
        <div class="footer"></div>
    </div>
</div>
<div class="pop">
    <div class="reg">
    <div class="container">

    </div>
</div>

</div>
<script type="text/javascript" src="/9yin/1.0.0/static/lib/snailfwd.js"></script>
<script type="text/javascript" src="/9yin/1.0.0/static/pkg/main_components.js"></script>
<script type="text/javascript" data-main='true' src="/9yin/1.0.0/static/main/index.js"></script>

</body>
</html>