.menu1{
	width: 1024px;
	height:768px;
    background: url('/9yin/1.0.0/c/menu1/0.0.1/navbg.jpg');
}
.menu1-btn{}
.menu1-btn1{}
.menu1-btn2{}
.menu1-btn3{}
/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 14-12-31
 * Time: 下午4:44
 * To change this template use File | Settings | File Templates.
 */
.reg{}
.reg-container{}
